/* hero background image */
        .bgimage {
            height:100vh;
            /* background: url(); */
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,40,1) 65%, rgba(12,116,137,1) 100%);
            background-size:cover;
            position:relative;
        }
        /* text css above hero image*/
        .hero_title {
            font-size: 4.5rem;
        }
        .hero_desc {
            font-size: 2rem;
        }
        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

        /* about section image css */
        .imageAboutPage {
            width: 100%;
        }

        /* display background color black on navbar scroll */
        .navbarScroll.navbarDark {
            background-color: black;
        }

        .try{
            background: rgb(137,198,190);
            background: radial-gradient(circle, rgba(137,198,190,1) 0%, rgba(147,152,159,1) 76%);
        }
        